---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { PlanetImage } from '@/components/PlanetImage'
import type { PlanetsInfo } from '@/types/Planet'
import type { TransitionAnimationPair } from 'astro'
// import { fade, slide } from 'astro:transitions'
// import { slide } from 'astro:transitions'

export async function getStaticPaths() {
  const response = await fetch('https://api-sistemasolar.nijui.com/api/planets')

  const { planets } = (await response.json()) as PlanetsInfo

  function getPrevPlanet(index: number) {
    if (index === 0) return null
    return planets[index - 1]
  }

  function getNextPlanet(index: number) {
    if (index === planets.length - 1) return null
    return planets[index + 1]
  }

  const data = planets.map((planet, i) => {
    return {
      params: {
        name: planet.name.toLowerCase(),
      },
      props: {
        planet,
        prevPlanet: getPrevPlanet(i),
        nextPlanet: getNextPlanet(i),
      },
    }
  })

  return data
}

const animationForwards: TransitionAnimationPair = {
  old: {
    name: 'astroSlideToLeft,astroFadeOut',
    duration: '0.3s',
    // easing: 'linear',
    fillMode: 'both,both',
  },
  new: {
    name: 'astroSlideFromRight,astroFadeIn',
    duration: '0.3s',
    // easing: 'linear',
    fillMode: 'both,both',
  },
}

const animationBackwards: TransitionAnimationPair = {
  old: {
    name: 'astroSlideToRight,astroFadeOut',
    duration: '0.3s',
    // easing: 'linear',
    fillMode: 'both,both',
  },
  new: {
    name: 'astroSlideFromLeft,astroFadeIn',
    duration: '0.3s',
    // easing: 'linear',
    fillMode: 'both,both',
  },
}

const customSlideViewTransitionPrev = {
  forwards: animationBackwards,
  backwards: animationForwards,
}

const customSlideViewTransitionNext = {
  forwards: animationForwards,
  backwards: animationBackwards,
}

const { planet, prevPlanet, nextPlanet } = Astro.props
---

<Layout title={planet.name} description={planet.description} image={planet.png ?? ''}>
  <div class='mx-auto flex min-h-dvh max-w-[1600px] flex-col gap-y-12 px-4 py-2'>
    <h1 class='text-center text-7xl font-black uppercase'>{planet.name}</h1>

    <PlanetImage client:load {prevPlanet} {nextPlanet}>
      <Image
        slot='prev'
        loading='eager'
        src={planet.webp!}
        alt={planet.name}
        transition:name='planeta'
        inferSize
        class='max-h-[640px] w-auto max-w-full self-center'
        transition:animate={customSlideViewTransitionPrev}
      />

      <Image
        slot='next'
        loading='eager'
        src={planet.webp!}
        alt={planet.name}
        transition:name='planeta_next'
        inferSize
        class='max-h-[640px] w-auto max-w-full self-center'
        transition:animate={customSlideViewTransitionNext}
      />
    </PlanetImage>
  </div>
</Layout>
